*{
    display:grid;
    grid-template-columns: 25% 25%; /*#2 column;*/
    grid-template-rows: 200px 200px; /* hieght of as raw*/
    grid-column: auto; /*for specific column miantaince*/
    grid-auto-flow: row; /**/
    grid-auto-rows: auto;/**/
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row: auto;

}
*{
    border-radius: 25% 25% 25% 25%; /* right bottom left top*/
    border: 10px solid red;
    border: 10px snow red;
    box-sizing: border-box;

}


/* repeat(4 repeat, pxl)
   repeat(auto-fit, pxl)
   repeat(auto-fill, pxl)
   repeat(auto-fit, minmax(100px,1f))
   repeat(auto-fill, minmax(100px,1f))
   grid-template-columns: fit-content(20%) 25%; /*#2 column;*/


*/


